

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark {
    background: #03002E;
    transition-delay: 0.5s;
}

.checkbox {
    opacity: 15%;
    height: 45px;
    width: 60px;
    position: absolute;
}


.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}


.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.toggle {
    position: absolute;
    right: 30px;
    top: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    align-items: flex-start;
    margin-top: 50px;
}

.item {
    flex-basis: 50%;
}

img {
    padding: 10px;
    height: 320px;
    width: 420px;
}

